{
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "arrowParens": "always",
        "printWidth": 80,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    }
  ]
}
